<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KauniaUpzila"
        tools:targetApi="34">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Thana_Police"
            android:exported="false" />
        <activity
            android:name=".Village_Police"
            android:exported="false" />
        <activity
            android:name=".Blood_Doner"
            android:exported="false" />
        <activity
            android:name=".Doctors_View"
            android:exported="false" />
        <activity
            android:name=".Village_People"
            android:exported="false" />
        <activity
            android:name=".Union_Porishod"
            android:exported="false" />
        <activity
            android:name=".Item_View"
            android:exported="false" />
        <activity
            android:name=".SimCode_view"
            android:exported="false" />
        <activity
            android:name=".Splash_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6621199192974495~8993959975"/>

    </application>

</manifest>